:root {
  --black: #111111;
  --white: #f5f5f5;
  --gray: #a1a1aa;
  --green: #a6e443;
}

$base-font-size: 16;

@function rem($px) {
  @return ($px / $base-font-size) * 1rem;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--black);
}

section {
  padding: 80px 0;
}

h1,
h2 {
  color: var(--white);
  font-family: "Space Grotesk", Arial, Helvetica, sans-serif;

  span {
    color: var(--green);
  }
}

h2 {
  font-weight: 300;

  &:not(.content-banner h2) {
    margin-bottom: 24px;
  }
}

p {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  color: var(--gray);
}

a {
  font-family: "Space Grotesk", Arial, Helvetica, sans-serif;
  color: var(--green);
  font-size: rem(16);
  text-decoration: none;
  transition: ease 0.3s;

  &:hover {
    color: var(--white);
  }
}

.buttons {
  display: flex;
  gap: 14px;
  align-items: center;
  width: max-content;
}

.banner {
  height: 100vh;

  .container {
    height: 100%;

    .content-banner {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      h1 {
        font-size: rem(26);
        font-weight: 300;
        margin-bottom: 6px;
      }

      h2 {
        font-size: rem(28);
        font-weight: 400;
      }

      p {
        margin: 24px 0;
        max-width: 520px;
      }
    }
  }
}

.box-projetos {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 80px 14px;

  @media (max-width: 992px) {
    grid-template-columns: 1fr;
  }

  .item {
    .imagem {
      overflow: hidden;
      height: 400px;
      position: relative;
      transition: ease 0.3s;

      &:after {
        content: "";
        position: absolute;
        background-color: #00000038;
        left: 0;
        top: 0;
        display: block;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: ease 0.3s;
      }

      img {
        width: 100%;
        object-fit: cover;
        transform: translateY(0%);
        transition: ease 0.3s;
        transition-duration: 7s;
      }

      .ano {
        position: absolute;
        display: block;
        background-color: var(--green);
        padding: 2px 12px;
        overflow: 2;
        left: 30px;
        top: 30px;
        z-index: 2;
        font-family: 'Space Grotesk', Arial, Helvetica, sans-serif;
        color: var(--black);
        font-weight: 600;
        font-size: rem(14);
        opacity: 0;
        transition: ease .3s;
      }
    }

    &:hover {
      .imagem {
        img {
          transform: translateY(-50%);
        }

        .ano {
          opacity: 1;
        transition: ease .3s;
        }

        &:after {
          opacity: 100%;
          transition: ease 0.3s;
        }
      }
    }

    .content {
      padding: 0 30px;
      margin-top: 30px;

      .titulo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 16px;

        h3 {
          font-size: rem(20);
          color: var(--white);
          font-family: "Space Grotesk", Arial, Helvetica, sans-serif;
          font-weight: 400;
        }
      }
    }
  }
}

.flex-contato {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 32px;

  p {
    margin: 0;
  }
}

footer {
  border-top: 1px solid #1E1E1E;
  padding: 12px;

  p {
    font-size: rem(14);
    text-align: center;
    margin: 0;
    font-family: 'Space Grotesk', Arial, Helvetica, sans-serif;
  }
}